In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('../data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
# Save the encoders and scaler for later use
with open('../artifacts/label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('../artifacts/onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('../artifacts/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Regression Implementation

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\PROJECTS\End-to-End-ANN-Classification-Project\.venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\PROJECTS\End-to-End-ANN-Classification-Project\.venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\PROJECTS\End-to-End-ANN-Classification-Project\.venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "../regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\PROJECTS\End-to-End-ANN-Classification-Project\.venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\PROJECTS\End-to-End-ANN-Classification-Project\.venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 7ms/step - loss: 100364.7422 - mae: 100364.7422 - val_loss: 98465.7109 - val_mae: 98465.7109
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99448.7734 - mae: 99448.7734 - val_loss: 96613.3984 - val_mae: 96613.3984
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 96280.6641 - mae: 96280.6641 - val_loss: 91973.4766 - val_mae: 91973.4766
Epoch 4/100
250/250 [==============================] - 1s 6ms/step - loss: 90177.9688 - mae: 90177.9688 - val_loss: 84482.2891 - val_mae: 84482.2891
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 81605.2656 - mae: 81605.2656 - val_loss: 75264.3438 - val_mae: 75264.3438
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 72021.2188 - mae: 72021.2188 - val_loss: 66288.1875 - val_mae: 66288.1875
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 63421.6562 - mae: 63421.6562 - val_loss: 59208.0977 - val_mae: 59208.0977
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 57239.1211 - mae: 57239.1211 - val_loss: 54586.7422 - val_mae: 54586.7422
Epoch 9/100
250/250 [==============================] - 1s 6ms/step - loss: 53515.1875 - mae: 53515.1875 - val_loss: 52245.6680 - val_mae: 52245.6680
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 51606.9023 - mae: 51606.9023 - val_loss: 51277.8398 - val_mae: 51277.8398
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 50808.4336 - mae: 50808.4336 - val_loss: 50905.9258 - val_mae: 50905.9258
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50466.3281 - mae: 50466.3281 - val_loss: 50715.3828 - val_mae: 50715.3828
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50287.8359 - mae: 50287.8359 - val_loss: 50622.1250 - val_mae: 50622.1250
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 50171.2695 - mae: 50171.2695 - val_loss: 50557.6250 - val_mae: 50557.6250
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50102.6484 - mae: 50102.6484 - val_loss: 50522.1055 - val_mae: 50522.1055
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 50049.2578 - mae: 50049.2578 - val_loss: 50493.4258 - val_mae: 50493.4258
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 50009.8633 - mae: 50009.8633 - val_loss: 50462.4141 - val_mae: 50462.4141
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49969.5391 - mae: 49969.5391 - val_loss: 50447.9375 - val_mae: 50447.9375
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 49935.5586 - mae: 49935.5586 - val_loss: 50416.7734 - val_mae: 50416.7734
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 49904.7344 - mae: 49904.7344 - val_loss: 50401.8320 - val_mae: 50401.8320
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49878.6367 - mae: 49878.6367 - val_loss: 50381.2031 - val_mae: 50381.2031
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49851.9766 - mae: 49851.9766 - val_loss: 50362.8711 - val_mae: 50362.8711
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49828.2461 - mae: 49828.2461 - val_loss: 50352.4258 - val_mae: 50352.4258
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49807.0938 - mae: 49807.0938 - val_loss: 50338.3828 - val_mae: 50338.3828
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49785.4648 - mae: 49785.4648 - val_loss: 50320.5781 - val_mae: 50320.5781
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49765.7109 - mae: 49765.7109 - val_loss: 50314.3594 - val_mae: 50314.3594
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49746.4297 - mae: 49746.4297 - val_loss: 50307.2227 - val_mae: 50307.2227
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 49731.8672 - mae: 49731.8672 - val_loss: 50295.7422 - val_mae: 50295.7422
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49711.6055 - mae: 49711.6055 - val_loss: 50289.9414 - val_mae: 50289.9414
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49696.3594 - mae: 49696.3594 - val_loss: 50277.6172 - val_mae: 50277.6172
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49681.3320 - mae: 49681.3320 - val_loss: 50273.8672 - val_mae: 50273.8672
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49666.7383 - mae: 49666.7383 - val_loss: 50273.5703 - val_mae: 50273.5703
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49651.4531 - mae: 49651.4531 - val_loss: 50270.5938 - val_mae: 50270.5938
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 49637.4336 - mae: 49637.4336 - val_loss: 50271.0039 - val_mae: 50271.0039
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49626.1992 - mae: 49626.1992 - val_loss: 50258.5117 - val_mae: 50258.5117
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49611.8984 - mae: 49611.8984 - val_loss: 50261.7188 - val_mae: 50261.7188
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49597.1523 - mae: 49597.1523 - val_loss: 50248.4961 - val_mae: 50248.4961
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49590.2188 - mae: 49590.2188 - val_loss: 50255.9961 - val_mae: 50255.9961
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 49578.8477 - mae: 49578.8477 - val_loss: 50254.9531 - val_mae: 50254.9531
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49565.7656 - mae: 49565.7656 - val_loss: 50256.7227 - val_mae: 50256.7227
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 49556.8828 - mae: 49556.8828 - val_loss: 50247.5078 - val_mae: 50247.5078
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49547.5312 - mae: 49547.5312 - val_loss: 50253.4492 - val_mae: 50253.4492
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 49538.6328 - mae: 49538.6328 - val_loss: 50249.8086 - val_mae: 50249.8086
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49534.3906 - mae: 49534.3906 - val_loss: 50253.2969 - val_mae: 50253.2969
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49520.0938 - mae: 49520.0938 - val_loss: 50249.8086 - val_mae: 50249.8086
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49515.6914 - mae: 49515.6914 - val_loss: 50262.1094 - val_mae: 50262.1094
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49506.4531 - mae: 49506.4531 - val_loss: 50246.1172 - val_mae: 50246.1172
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49497.5078 - mae: 49497.5078 - val_loss: 50243.7422 - val_mae: 50243.7422
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49491.2656 - mae: 49491.2656 - val_loss: 50247.3633 - val_mae: 50247.3633
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49483.6953 - mae: 49483.6953 - val_loss: 50250.5703 - val_mae: 50250.5703
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49478.1289 - mae: 49478.1289 - val_loss: 50241.4102 - val_mae: 50241.4102
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49472.3477 - mae: 49472.3477 - val_loss: 50240.4375 - val_mae: 50240.4375
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49465.2539 - mae: 49465.2539 - val_loss: 50246.2031 - val_mae: 50246.2031
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 49456.7227 - mae: 49456.7227 - val_loss: 50246.6211 - val_mae: 50246.6211
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49456.4727 - mae: 49456.4727 - val_loss: 50237.7305 - val_mae: 50237.7305
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49444.0859 - mae: 49444.0859 - val_loss: 50248.1680 - val_mae: 50248.1680
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49441.8008 - mae: 49441.8008 - val_loss: 50236.6680 - val_mae: 50236.6680
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 49434.1641 - mae: 49434.1641 - val_loss: 50232.2617 - val_mae: 50232.2617
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 49430.9141 - mae: 49430.9141 - val_loss: 50242.3672 - val_mae: 50242.3672
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 49424.3789 - mae: 49424.3789 - val_loss: 50234.2188 - val_mae: 50234.2188
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 49418.6445 - mae: 49418.6445 - val_loss: 50237.5664 - val_mae: 50237.5664
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 49415.0156 - mae: 49415.0156 - val_loss: 50236.6133 - val_mae: 50236.6133
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 49408.2656 - mae: 49408.2656 - val_loss: 50238.8672 - val_mae: 50238.8672
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 49406.4336 - mae: 49406.4336 - val_loss: 50245.8438 - val_mae: 50245.8438
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 49401.4219 - mae: 49401.4219 - val_loss: 50245.2344 - val_mae: 50245.2344
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 49391.2969 - mae: 49391.2969 - val_loss: 50259.0625 - val_mae: 50259.0625
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 49389.5391 - mae: 49389.5391 - val_loss: 50247.8164 - val_mae: 50247.8164
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 49385.1680 - mae: 49385.1680 - val_loss: 50247.9023 - val_mae: 50247.9023

In [ ]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit

In [16]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 1s 6ms/step - loss: 50232.2617 - mae: 50232.2617
Test MAE : 50232.26171875

In [18]:
model.save('../artifacts/model_regressor.h5')